@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    position: relative;
    background-color: #fefefe;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: -1;
    filter: url(#noise);
    pointer-events: none;
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: -1;
    filter: url(#noise2);
    pointer-events: none;
}

h1 {
    @apply text-4xl tracking-tighter mb-3 text-center lg:text-7xl leading-tight;
}

h3 {
    @apply text-2xl font-bold mb-3;
}

/* Syntax Highlighting*/

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
    @apply bg-gray-800;
}

a {
    @apply underline underline-offset-4 decoration-2 text-blue-600 hover:text-blue-800;
}

ul > li {
    @apply list-disc pl-5;
}

ol > li {
    @apply list-decimal pl-5;
}

blockquote {
    @apply bg-gray-100 border border-gray-300 p-4 rounded-lg italic;
}

article img {
    @apply grayscale hover:grayscale-0 transition-all duration-300;
}
