<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}" />
    
    <meta name="title" content="{{title}}" />
    <meta name="twitter:site" content="@borga_teo" />
    <meta name="og:title" content="{{ title }}" />
    <meta name="twitter:title" content="{{ title }}" />
    
    <meta name="twitter:creator" content="@borga_teo" />
    <meta property="og:url" content="https://matteoborgato.com" />
    <meta property="twitter:url" content="https://matteoborgato.com" />
    <meta property="og:site_name" content="Matteo Borgato - borgateo" />
    
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="https://use.typekit.net/gvf5gsl.css">
    
    <script src="/js/main.js"></script>
  </head>
  <body>
    <main>
      {{ content }}
    </main>
  </body>
</html>
